body {
  background-color: black;
  color: limegreen;
  font-family: "Press Start 2P", monospace;
  text-align: center;
  padding: 20px;
}

input,
select,
button {
  margin: 8px;
  padding: 10px;
  font-size: 12px;
  font-family: "Press Start 2P", monospace;
}

button {
  background: magenta;
  color: white;
  border: none;
  cursor: pointer;
}
